version: 2
jobs:
  my_first_job:
    parallelism: 1
    docker:
      - image: circleci/node:9.8.0-stretch-browsers
    steps:
      - checkout
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker build -t my-test-image:latest -f Dockerfile.test .
  my_second_job:
    parallelism: 1
    docker:
      - image: circleci/node:9.8.0-stretch-browsers
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker build -t my-test-image:latest -f Dockerfile.test .

workflows:
  version: 2
  build:
    jobs:
      - my_first_job
      - my_second_job:
          requires:
            - my_first_job
